name: demo5

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: create a text file
        run: echo "Hello world" > hello.txt
      - uses: actions/upload-artifact@v4
        with:
          name: hello-file
          path: hello.txt

  test:
    runs-on: ubuntu-latest
    needs: build # Correctly indented and placed
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: hello-file
      - name: list file
        run: ls
      - name: Test File
        run: cat hello.txt | grep -i "hello world" # Corrected grep syntax and added -i flag
